body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 18px; /* Размер основного шрифта в <p></p>  */
    background-color: #ffffff00; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
}
h1 {
    color: #1900ff9c; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
.img{
    width: 1400px;
}